name: lottery_app
description: A new Flutter project.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.1.9+1

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  json_annotation: ^2.0.0
  package_info: ^0.4.1
  connectivity: ^0.4.9
  dio: ^3.0.9
  event_bus:  ^1.0.3
  flutter_spinkit: ^4.1.2
  flutter_easyrefresh: ^2.1.0
  shared_preferences: ^0.5.7+3
  cached_network_image: ^2.1.0
  transparent_image: ^0.1.0
  flutter_screenutil: ^1.1.0
  permission_handler: ^3.1.0
  flutter_custom_clippers: ^0.1.6
  rxdart: ^0.23.1
  flustars: ^0.2.6+1
  common_utils: ^1.1.3
  flutter_slidable: ^0.5.3
  provider: ^4.0.5
  encrypt: ^4.0.0
  flutter_swiper: ^1.1.6
  openinstall_flutter_plugin: ^1.2.2
  qr_flutter: ^3.1.0
  flutter_easyloading: ^1.1.4
  pin_code_fields: ^3.0.0
  tobias: ^1.6.1+1
  flutter_native_splash: ^0.1.9
  r_upgrade: ^0.3.1
  path_provider: ^1.6.11
  image_gallery_saver: ^1.5.0
  image_picker: ^0.6.7+2
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2


dev_dependencies:
  flutter_test:
    sdk: flutter

flutter_native_splash:
  image: assets/images/splash.png
  color: "#ffffff"
  andriod: true
  android_disable_fullscreen: false

# For information on the generic Dart part of this file, see the
# following page: https://www.dartlang.org/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  fonts:
    - family: iconfont
      fonts:
        - asset: assets/fonts/iconfont.ttf
  assets:
    - assets/images/

  # To add assets to your application, add an assets section, like this:
  # assets:
  #  - images/a_dot_burr.jpeg
  #  - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.io/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.io/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.io/custom-fonts/#from-packages
