<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.prize168.lottery_app">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODE_WORLD_READABLE"/>
    <uses-permission android:name="android.permission.MODE_WORLD_WRITEABLE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
</manifest>
